{% if inventories %}
    <table>
        <tr>
            <th width="13%">
            	<a href="#" class="sort-btn {{ sort.name|default:'sort-asc' }}" id="sort-name" title="Click to reorder list">Item Name</a>
             </th>
            <th width="13%">
            	<a href="#" class="sort-btn {{ sort.serial_number|default:'sort-asc' }}" id="sort-serial_number" title="Click to reorder list">Serial Number</a>						
            </th>
            <th width="10%">
            	<a href="#" class="sort-btn {{ sort.price|default:'sort-asc' }}" id="sort-price" title="Click to reorder list">Price</a>
            </th>
            <th width="10%">
            	<a href="#" class="sort-btn {{ sort.weight|default:'sort-asc' }}" id="sort-weight" title="Click to reorder list">Weight</a>
            </th>
            <th width="10%">
            	<a href="#" class="sort-btn {{ sort.color|default:'sort-asc' }}" id="sort-color" title="Click to reorder list">Color</a>						
            </th>
            <th>
           		<a href="#" class="sort-btn {{ sort.itemType|default:'sort-asc' }}" id="sort-itemType" title="Click to reorder list">Item Type</a>
            </th>
            <th>
				Photo
            </th>
            <th width="15%"></th>
        </tr>
     {% for inventory in inventories %}
        <tr>
            <td>
                {{ inventory.name }}
            </td>
            <td>
                {{ inventory.serial_number }}
            </td>
            <td>
               {{ inventory.price }} $
            </td>
            <td>
               {{ inventory.weight }}
            </td>
            <td>
                {{ inventory.color.color_name }}
            </td>
            <td>
                {{ inventory.itemType.type_name }}
            </td>
            <td style="text-align:center">
                {% if inventory.photo %}
                    <img width="150px" src="{{ inventory.photo.url }}"/>
                {% else %}
                    /
                {% endif %}
            </td>
            <td>
                <a href="{% url 'stock:edit' pk=inventory.pk %}">Edit</a> |
                <a href="{% url 'stock:details' pk=inventory.pk %}">Details</a> |
                <a class="delete-btn" href="{% url 'stock:delete' pk=inventory.pk %}">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
  		<div><p class="no-result">No inventory items were found for entered criteria.</p></div>
{% endif %} 