{% extends "stock/layout.html" %}

{% block title %}Inventory List{% endblock %}

{% block content %}
    <div class="row">
 
		<form method="get">
			{% csrf_token %}
		    <input id="search_term" type="search" name="search_term" value=""/>
		    <select id="search_type" name="search_type" class="customDropDown">
		        <option value=""> All Criterias </option>
		        <option value="ItemName"    >Item Name</option>
		        <option value="SerialNumber">Serial Number</option>
		        <option value="Price"       >Price</option>
		        <option value="Weight"      >Weight</option>
		        <option value="Color"       >Color</option>
		        <option value="ItemType"    >Item Type</option>
		    </select>
		    <input class="search-btn" type="submit" value="Search" />
		
		</form>
    
    	<h3>List of items:</h3>    	
    	<p>
    		<a href="{% url 'stock:create' %}">Create New</a>
		</p>
    	
    	<div id="search-result">
  			{% include "stock/ajax_search.html" with inventories=inventories sort=sort %}
  		</div>
    	
	</div>
{% endblock %}


{% block javascript %}
	{{ block.super }}
	<script src="/static/stock/js/inventory_list.js"></script>
{% endblock javascript %}